
.notice{
    display: flex;
    flex-direction: column;
    &__opening{
        li{
            padding: $m-1;
        }
    }
    &__new{
        li{
            padding: $m-1;
        }
    }
}
.update{
    &__list{
        li{
            padding: $m-1;
            border-bottom: 1px dashed #000;
        }
    }
}
.bottom{
    &__text{
        margin: $m-1;
    }
    &__contact{
        display: flex;
        justify-content: space-between;
        a{
            text-decoration: none;
        }
    }
    &__tel{
        background-color: transparent;
        border: 1px $font-color2 solid;
        padding: $m-1 $m-5;
        border-radius: 5px;
        align-items: center;
        text-align: center;
        color:$font-color2;
        font-size: 18px;
        width: 50%;
        & span{
            color:$font-color2;
            font-weight: bold;
        }

        p{
            font-size: small;
            color:#000;
            padding-top: $m-5;
        }
    }
    &__contactBtn{
        width: 50%;
        padding: $m-1 $m-5;
        text-align: center;
        border: 1px  white solid;
        background-color: $btn-b;
        border-radius: 5px;
        margin-left: $m-1;
        font-size: 18px;
        a{
            font-weight: bold;
            color:$font-color;
        }
        p{
            margin-top: $m-1;
            font-size: small;
            color:#000;
            font-weight: initial;
        }
    }
}
.sns{
    border: 2px $font-color2 dashed;
    border-top: none;
    display: flex;
    flex-direction: column;
    width:100%;
    border-radius: 5px;
    &__disc{
        color: $font-color;
        background-color: $font-color2;
       text-align: center;
       padding: $m-1 0;
       font-size: 18px;
       border-radius: 5px;


    }
    &__text{
        text-align: center;
    }
    &__icon{
        display: flex;
        justify-content: space-around;
        padding: $m-5 0;

        a{
            text-decoration: none;
            }
    }
}
.icon{
   &-blog{
       text-align: center;
       width: 25%;
       border-right: 1px $font-color2 solid;
       & a{
        color:#21759B;
       }

   }
   &-insta{
       text-align: center;
       width: 25%;
       border-right: 1px $font-color2 solid;
       & a{
        color:#F16939;
       }
   }
   &-youtube{
       text-align: center;
       width: 25%;
       border-right: 1px $font-color2 solid;
       & a{
        color:#DA1725;
       }
   }

   &-twitter{
       text-align: center;
       width: 25%;

       & a{
        color:#1DA1F2;
       }
   }

}


/* ------------------------------------
  labo.html
------------------------------------ */
.labo{
    display: flex;
    flex-direction: column;
    margin-bottom: $m-1 * 10;
    border-radius: 5px;
    &__text{
        padding: $m-1 * 2;
        border-radius: 5px;
        background-color: $h3;
    }

    &__info{
        margin: $m-1 *2 0;
    }
    &__map{
        padding-top: $m-1;
        
    }
    .table{
        margin-bottom: $m-1 * 2;
        background-color: #fff;
        border-radius: 10px;
        &__title{
            text-align: center;
            font-size: 18px;
            padding: $m-1;
            border-bottom: 2px $bgc solid;
        }
        &__left{
            vertical-align: middle;
            text-align: center;
            padding: $m-1 0;
        }
        &__right{
            text-align: center;
            padding: $m-1 0;
        }
        tr{
            border-bottom: 1px $bgc dotted;
        }

    }
}



/* MediaQuery */
@media only screen and (min-width: 712px) {

    .notice{
        display: flex;
        flex-direction: row;
        &__opening{
            width: 50%;
            border: thick double $bgc;
            border-top: 2px solid;
            border-radius: 5px;
                li{
                    padding: $m-1;
                }
        }
        &__new{
            width: 50%;
            border: thick double $bgc;
            border-top: 2px solid;
            border-radius: 5px;
            margin-left: $m-1;
            li{
                padding: $m-1;
            }
        }
    }
    .update{
        display: flex;
        &__info{
            width: 50%;
            border: thick double $bgc;
            border-top: 2px solid $bgc;
            border-radius: 5px;
        }
        &__blog{
            width: 50%;
            border: thick double $bgc;
            border-top: 2px solid $bgc;
            border-radius: 5px;
            margin-left: $m-1;
        }
        &__list{
             & li{
                padding: $m-1;
                border-bottom: 1px dashed #000;
                margin: 0 $m-5;
            }
        }
    }
    .bottom{
        &__text{
            margin: $m-1 *2 0;
        }
        &__contact{
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
        &__tel{
            font-weight: bold;
            border :1px solid $btn-b;
            padding: $m-1 *3 $m-5;
            text-align: center;
            font-size: 24px;
            text-decoration: none;
            cursor: pointer;
            width: 50%;
            & span{
                color:$font-color2;
            }
            & p{
                font-size: small;
                color:#000;
                font-weight: initial;
                padding-top: $m-5;
            }
        }

        &__contactBtn{
            padding: $m-1 *3 $m-5;
            text-align: center;
            background-color: $btn-b;
            border-radius: 5px;
            margin-left: $m-1;
            font-size: 24px;
            text-decoration: none;
            cursor: pointer;
            width: 50%;
            
            & span{
                color:$font-color;
            }
            & p{
                font-size: small;
                color:#000;
                font-weight: initial;
            }
        }
    }

    /* ------------------------------------
      labo.html
    ------------------------------------ */
    .labo{
        &__cont{
            display: flex;
            justify-content: space-around;
            margin: $m-1 *3 0;
            width: 100%;
        }
        &__info{
            width: 50%;
        }
        &__map{
            padding-top: $m-1;
        }
    

    }

}

/* MediaQuery end */