.scheduleBtn{
    text-align: center;
    border: 5px $font-color2 solid;
    border-top: none;
    border-left: none;
    width: 70%;
    margin: 2% auto;
    border-radius: 50px;
    background: linear-gradient(rgb(255, 166, 0), $font-color2);
    padding: $m-1;

    & a{
        text-decoration: none;
    }

    &__text{
        padding: $m-1;
        color: $font-color;
        font-weight: bold;
        font-size: 20px;

    }
    & p{
        font-size: 16px;
        padding-top: $m-5;
        color: $font-color;
    }
}

/* MediaQuery */
@media only screen and (min-width: 712px) {
    .scheduleBtn{
        width: 60%;

        &:active{
            border: 5px $font-color2 solid;
            border-right: none;
            border-bottom: none;
        }
    }
}
/* MediaQuery end */