body{
    box-sizing: border-box;
    font-size: $size-f;
    font-family: $fm;
}
h2{
    font-size: $size-h2;
    background-color: $h2;
    padding: $m-1;
    color: $font-color;
    margin: $m-1 0;
    font-weight: bold;
    i{
        color: $font-color2;
    }
}
h3{
    font-size: $size-h3;
    background-color: $h3;
    padding: $m-1;
    font-weight: bold;
    margin: $m-1 0;
}
i{
    margin-right: $m-5;
}
.container{
    margin: $m-1;
    
}
.sm-del{
    display: none;
}

/* MediaQuery */
@media only screen and (min-width: 712px) {
    .container{
        max-width: $max-width;
        margin: 20px auto;
    }

    h2{
        margin-bottom: $m-1 * 3;
    }
    .sm-br{
        display: none;
    }

}

/* MediaQuery end */
