//レスポンシブ
$break-point-pc: 768px;
$break-point-sm: 375px;
$site-width: 1152px;

//カラー
$bgc: #033A7D;
$font-color: #fff;
$h2:#0063DC;
$h3: #B5D5FD;
$btn-a:#00C853;
$btn-b:rgba(#E83220,.8);
$font-color2:#E83220;

//サイズ
$size-f: 16px;
$size-h2: 24px;
$size-h3: 20px;
$max-width: 1000px;

//マージン
$m-1: 10px;
$m-5: 5px;

//フォント
$fm:'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;